@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --backgroundColor: #253e5f;
  --activeColor: #1890ff;
  --primaryColor: rgba(146, 159, 175, 1);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(250, 250, 250, 1);
}
